/*  border-4  border-x-blue-500*/
 .img_container{
    border-radius: 50%;
    border-left:4px solid rgba(57, 57, 238, 0.553) ;
    border-right:4px solid rgba(57, 57, 238, 0.553) ;
    animation: border_Color 4s ease infinite;
}/*
@keyframes border_Color {
    0%{transform: rotate(0deg);}
50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
} */


.image_box{
    transform: translateX(-10%);
    animation: image_animation 5s ease-out infinite;
}
@keyframes  image_animation{
    0%, 100%{
       transform: translateX(-20);
    }
    50%, 100%{
        transform: translateX(10%);
    }
    100%, 0%{
        transform: translateX(-10%);
    }
} 
