.ac_container {
    padding: 20px;
    width: 100%;
}

.ac_card {
    width: 100%;
    margin: auto;
}

.ac_card .ac_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
    justify-content: space-evenly;
}

.ac_card .ac_list li {
    width: 300px;
    height: 390px;
    margin: 20px;
    position: relative;
    z-index: 99;
    background: rgb(0, 12, 39);
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
}

.ac_card .ac_list li::before {
    content: '';
    position: absolute;
    width: 80px;
    left: 100px;
    top: -50px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 150%;
    animation: anim 5s linear infinite;
    transform: rotate(90deg);
    transition: all 0.3s linear;
    z-index: -10;

}

.ac_card .ac_list li::after {
    content: "";
    position: absolute;
    background: rgb(0, 12, 39);
    border-radius: 15px;
    z-index: 99;
    inset: 5px;
    z-index: -1;

}

.ac_card .ac_list li .ac_text {
    height: 180px;
    padding: 10px;
}

.ac-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.ac-items .item {
    max-width: 350px;
    position: relative;
    overflow: hidden;
}

.ac-items .item img {
    transition: all 0.9s ease;
}

.ac-items .item:hover img {
    transform: scale(1.1);
}

.ac-items .item:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 43, 43);
    opacity: 0.9;
    z-index: 1;
}
.ac-items .item .my-eye{
    opacity: 0;
}
.ac-items .item:hover .my-eye {
     opacity: 1;
    position: absolute;
    top: 35%;
    left: 40%;
    width: 70px;
    padding: 15px;
    border-radius: 50%;
    z-index: 2;
    font-size: 4rem;
    cursor: pointer;
    background-color: rgb(0, 12, 39);
}

.ac-items .item h1 {
    opacity: 0;
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 0;
}
.ac-items .item:hover h1{
    opacity: 1;
    color: white;
    font-size: 19px;
    z-index: 99;
}

/* .ac-view{
   
    z-index: 99;
    opacity: 0;
} */
/* -------------------------this is a project part----------- */

@keyframes anim {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(180deg);
    }
}